@font-face {
    font-family: 'patin';
    src: url('/static/fonts/osp_le-patin-helvete-webfont.eot');
    src: url('/static/fonts/osp_le-patin-helvete-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/osp_le-patin-helvete-webfont.woff') format('woff'),
         url('/static/fonts/osp_le-patin-helvete-webfont.ttf') format('truetype'),
         url('/static/fonts/osp_le-patin-helvete-webfont.svg#news_cycleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Crickx';
    src: url('/static/fonts/crickxsharkcut-webfont.eot');
    src: url('/static/fonts/crickxsharkcut-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/crickxsharkcut-webfont.woff') format('woff'),
         url('/static/fonts/crickxsharkcut-webfont.ttf') format('truetype'),
         url('/static/fonts/crickxsharkcut-webfont.svg#news_cycleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UniversBold';
    src: url('/static/fonts/universelse-bold-webfont.eot');
    src: url('/static/fonts/universelse-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/universelse-bold-webfont.woff') format('woff'),
         url('/static/fonts/universelse-bold-webfont.ttf') format('truetype'),
         url('/static/fonts/universelse-bold-webfont.svg#news_cycleregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'UniversLight';
    src: url('/static/fonts/universelse-light-webfont.eot');
    src: url('/static/fonts/universelse-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/universelse-light-webfont.woff') format('woff'),
         url('/static/fonts/universelse-light-webfont.ttf') format('truetype'),
         url('/static/fonts/universelse-light-webfont.svg#news_cycleregular') format('svg');
    font-weight: bold;
    font-style: light;
}
@font-face {
    font-family: 'Univers';
    src: url('/static/fonts/universelse-regular-webfont.eot');
    src: url('/static/fonts/universelse-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/universelse-regular-webfont.woff') format('woff'),
         url('/static/fonts/universelse-regular-webfont.ttf') format('truetype'),
         url('/static/fonts/universelse-regular-webfont.svg#news_cycleregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'notcouriersansregular';
    src: url('/static/fonts/NotCourierSans-webfont.eot');
    src: url('/static/fonts/NotCourierSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/NotCourierSans-webfont.woff') format('woff'),
         url('/static/fonts/NotCourierSans-webfont.ttf') format('truetype'),
         url('/static/fonts/NotCourierSans-webfont.svg#notcouriersansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'notcouriersansbold';
    src: url('/static/fonts/NotCourierSans-Bold-webfont.eot');
    src: url('/static/fonts/NotCourierSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/NotCourierSans-Bold-webfont.woff') format('woff'),
         url('/static/fonts/NotCourierSans-Bold-webfont.ttf') format('truetype'),
         url('/static/fonts/NotCourierSans-Bold-webfont.svg#notcouriersansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
