{% extends "base.html" %}
{% load wikify %}

{% block extra_styles %}
    <link rel="stylesheet/less" href="/css/" type="text/css" media="screen">
    <link rel="stylesheet/less" href="/css-print/" type="text/css" media="print">
{% endblock %}

{% block content %}
    <ul id="pads_list">
        {% for pad in pads %}
            <li><a data-uid="{{ pad.display_slug }}" href="{% if mode == 'write' %}{% url 'pad-write' slug=pad.display_slug %}{% else %}{% url 'pad-read' 'r' slug=pad.display_slug %}{% endif %}" class="pad-link">{{ pad.display_slug|dewikify }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
