{% load wikify %}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}less/relearn.css" type="text/css" charset="utf-8">
    <script src="{{ STATIC_URL }}js/less-1.4.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/relearn.js" type="text/javascript" charset="utf-8"></script>

    <title>Relearn</title>
    
</head>
<body>
    <div class="wrap screen-only" style="height: 15%;">
        <div class="left-side">
            <h1><a href="{% url 'home' %}">Relearn</a></h1>
        </div>
        <div class="middle">
            {% block title %}{% endblock %}
        </div>

        <div class="right-side">
            <ul id="account-buttons">
                {% if user.is_authenticated %}<li>{{ user.get_full_name }}</li>
                <li><a class="button" href="{% url 'logout' %}">Log out</a></li>{% else %}
                <li><a class="button" href="{% url 'login' %}">Log in</a></li>{% endif %}
            </ul>
        </div>
    </div>


    <div class="wrap" style="height: 85%;">
        <div class="left-side screen-only">
            <nav>
                <ul>
                    <li><a href="/r/relearn::welcome">Welcome</a></li>
                    <li><a href="/r/relearn::about">About</a></li>
                    <li><a href="/r/relearn::contact">Contact</a></li>
                    {% if author %}
                        <li id="create-pad"><a class="button" href="{% url 'pad-create' author.group.all.0.id %}">Create pad</a></li>
                    {% endif %}
                    {% for pad in pads %}
                        {% if not pad|is_relearn %}
                            <li>
                                <a href="{% if mode == 'write' %}{% url 'pad-write' slug=pad.name %}{% else %}{% url 'pad-read' slug=pad.name %}{% endif %}" class="pad-link">{{ pad.name|dewikify }}</a>
                            </li>
                        {% elif author %}
                            <li><a href="{% if mode == 'write' %}{% url 'pad-write' slug=pad.name %}{% else %}{% url 'pad-read' slug=pad.name %}{% endif %}" class="pad-link">{{ pad.name|dewikify }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div id="content" class="middle">
            {% block content %}{% endblock %}
        </div>
        <div class="right-side screen-only">
            {% if author %}
            <h2>Point out an issue</h2>
            
           <p> If you want to point an issue to the Relearn team, please send an e-mail to : <a href="mailto:relearn@lists.constantvzw.org">relearn@lists.constantvzw.org</a>
           <br>
           </p>
            
            {% comment %}
            <h2>Upload files</h2>
            <form id="upload-form" action="base_submit" method="post" accept-charset="utf-8">
                <input style="width: 70%" type="file" name="image_file" id="image_file" />
                <input id="send-file" type="submit" value="Upload">
            </form>
            {% endcomment %}
            {% endif %}
            
            <h2>What we say</h2>
            <p>The latest 10 commits, excluding the merges. There is a delay of an hour…</p>
            {% for commit in commits %}
            <h3>{{ commit.repo_name }}</h3>
            <p class='commit-message'>{{ commit.message|urlize|linebreaksbr }}</p>
            <p>By <span class='commit-author'>{{ commit.author }}</span> on <span class='commit-date'>{{ commit.commit_time }}</span></p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
