{% load wikify %}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/fonts.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/print.css" media="print" type="text/css" charset="utf-8"> 
    <link rel="stylesheet" href="/css/" type="text/css" charset="utf-8">
    <script src="{{ STATIC_URL }}js/less-1.4.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/underscore.js" type="text/javascript" charset="utf-8"></script>

    <title>{{ site_name }}{% if pad %} → {{ pad.display_slug|dewikify }}{% endif %}</title>

    {% block extra_styles %}{% endblock %}
    
</head>
<body class="pad-{{ pad.display_name|slugify }}">
    <nav>
        <h1>&lt;o&gt; future &lt;o&gt;</h1>
        {% if pad %}
            {% if mode == 'read' %}
                <a class="active button">Read</a><a class="button" href="{% url 'pad-write' pad.display_slug %}">Write</a>
            {% else %}
                <a class="button" href="{% url 'pad-read' pad.display_slug %}">Read</a><a class="active button">Write</a>
            {% endif %}
        {% endif %}

        <a class="button" href="#" onclick="window.print()">Print</a>

        {% if user.is_authenticated and author %}
            <span>{{ author.full_name_with_prefix }}</span>
            <a class="button" href="{% url 'logout' %}">Log out</a>
            <a class="button" href="{% url 'pad-create' author.group.all.0.id %}">Create</a>
            {#{% else %}#}
            <!--<a class="button" href="{% url 'login' %}">Log in</a>-->
        {% endif %}
    </nav>
    <div class="wrap">
        <div class="left-side screen-only">
        </div>

        <div class="middle">
            {% ifequal pad.display_name|slugify 00md %}
                <a href="{% url 'home' %}"><img src="{{ MEDIA_URL }}images/eyes/{{ left_eye }}" alt="{{ site_name }}" /></a>
            {% endifequal %}

            {% block title %}{% endblock %}

            {% ifequal pad.display_name|slugify 00md %}
                <a href="{% url 'home' %}"><img src="{{ MEDIA_URL }}images/eyes/{{ right_eye }}" alt="{{ site_name }}" /></a>
            {% endifequal %}
        </div>

        <div class="right-side screen-only">
        </div>
    </div>

    <div class="wrap" style="height: 85%;">
        <div class="left-side screen-only">
        </div>
        <div class="middle">
            <div id="content" class="{% block contentclasses %}{% endblock %}">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="right-side screen-only">
            {% block rightside %}{% endblock %}
        </div>
    </div>
    <script src="{{ STATIC_URL }}js/relearn.js" type="text/javascript" charset="utf-8"></script>
{% block scripts %}{% endblock %}
</body>
</html>
