{% load wikify %}<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet/less" href="{{ STATIC_URL }}less/relearn.less" type="text/css" media="screen" charset="utf-8">
    <script src="{{ STATIC_URL }}js/less-1.4.1.min.js" type="text/javascript" charset="utf-8"></script>

    <title>Relearn</title>
    
</head>
<body>
    <div class="wrap">
        <div class="side">&nbsp;{% block switch %}{% endblock %}</div>
        <div class="content">
            <h1><a href="{% url 'home' %}">Relearn</a></h1>
        </div>

        <div class="side">
            <ul>
                {% if user.is_authenticated %}<li>{{ user.get_full_name }}</li>
                <li><a href="{% url 'logout' %}">Log out</a></li>{% else %}
                <li><a href="{% url 'login' %}">Log in</a></li>{% endif %}
            </ul>
        </div>
    </div>
    <div class="wrap">
        <div class="side">
            <nav>
                <ul>
                    {% for pad in pads %}<li>
                        <a href="{% if mode == 'write' %}{% url 'pad-write' slug=pad.name %}{% else %}{% url 'pad-read' slug=pad.name %}{% endif %}" class="pad-link">{{ pad.name|dewikify }}</a>
                    </li>{% endfor %}
                    {% if author %}<li>
                        <a href="{% url 'pad-create' author.group.all.0.id %}">Create pad</a>
                    </li>{% endif %}
                </ul>
            </nav>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div class="side">
            <p>Show issues / meta info about author?</p>
        </div>
    </div>
</body>
</html>
