{% extends "pad-base.html" %}
{% load wikify relearn_tags %}

{% block head_meta %}

{% if meta %}

    {% if meta.authors %}
        {% for author in meta.authors %}
            <meta property="dc:creator" content="{{ author }}" />
        {% endfor %}
    {% endif %}
    {% if meta.title %}<meta property="dc:title" content="{{ meta.title.0 }}" />{% endif %}
    <meta property="dc:creator" content="{{ author }}" />
    {% if meta.language %}{% for language in meta.language %}<meta property="dc:language" content="{{ language|lower }}" />{% endfor %}{% endif %}

{% endif %}
{% endblock %}


{% block title %}
    <header>
    {% if meta.authors %}
        <p class="authors">{{ meta.authors|dictsort:"lower"|natural_join:'&' }}</p>
    {% endif %}
    <h1 property="dc:title">
        {{ meta.title.0|default:pad.display_slug|markdown_filter }}
    </h1>
    </header>
{% endblock %}


{% block content %}
    {{ text|safe }}

    <p>
        <span property="dc:identifier">{{ meta.id.0 }}</span>
        Published on &lt;o&gt; future &lt;o&gt; <span property="dc:created" content="{{ meta.date_parsed.0 }}">{{ date|date:"F j, o" }}</span>.
    
    {% if meta.licence %}License: {% if meta.licence.0 == "CC BY-ND 3.0 France" %}<a href="http://creativecommons.org/licenses/by-nd/3.0/fr/" rel="license">{{ meta.licence.0 }}</a>{% else %}<span property="license">{{ meta.licence.0 }}</span>{% endif %}{% else %}All rights reserved{% endif %}.
    </p>
    
    <p>
        <a id="go-up" class="screen-only" href="#">&uarr;</a>
    </p>
{% endblock %}

{% block rightside %}
    
    
    {% if author %}
        {% if meta %}
            <!--
            auteur
            titre
            date
            sommaire (optionel)
            -->
            <dl class="meta private">
            {% for key, values in meta_list reversed %}
                <dt>{{ key|title }}</dt>
                {% for value in values %}<dd>{{ value|markdown_filter }}</dd>{% endfor %}
            {% endfor %}
                <dt>Editors</dt>
                <dd>
                    <p>{{ authors|natural_join:'et' }}</p>
                </dd>
            </dl>
        {% endif %}
    {% endif %}
{% endblock %}

{% block extraui %}
{% if not user.is_authenticated %}
<div class="popup-wrapper hidden">
    <div class="popup">
      <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <label for="id_username">Username</label>
        <input id="id_username" maxlength="254" name="username" type="text" />
        <label for="id_password">Password</label>
        <input id="id_password" name="password" type="password" />
    
        <input class="submit" type="submit" value="Login" />
        <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'home' %}{% endif %}" />
      </form>
    </div>
</div>
{% endif %}
{% endblock %}
