{% extends "pad-base.html" %}
{% load wikify relearn_tags %}

{% block extra_styles %}
    <link rel="stylesheet" href="/css-print/" type="text/css" media="all">
    {% if user.is_authenticated and meta.publish %}
        <link rel="stylesheet" href="{{ STATIC_URL }}less/print.less" type="text/less" media="all">
    {% endif %}
{% endblock %}

{% block head_meta %}
    {% if meta %}

        {% if meta.authors %}
            {% for author in meta.authors %}
                <meta property="dc:creator" content="{{ author }}" />
            {% endfor %}
        {% endif %}
        {% if meta.title %}<meta property="dc:title" content="{{ meta.title.0 }}" />{% endif %}
        {% if meta.language %}{% for language in meta.language %}<meta property="dc:language" content="{{ language|lower }}" />{% endfor %}{% endif %}

        <meta property="dc:identifier" content="{{ meta.id.0 }}" />
        {% if meta.type %}<meta property="dc:type" content="{{ meta.type.0 }}" />{% endif %}
    {% endif %}

{% endblock %}



{% block content %}
    <header class="{% if meta.type %}{{ meta.type.0|lower }}{% endif %}">
    {% if meta.authors %}
        <p class="authors">{{ meta.authors|dictsort:"lower"|natural_join:'&' }}</p>
    {% endif %}
    <h1 property="dc:title">
        {{ meta.title.0|default:pad.display_slug|markdown_filter }}
    </h1>
    </header>

    {{ text|safe }}
    
    <div id="metadata">
        <p>
            Published on &lt;o&gt; future &lt;o&gt;, <span property="dc:created" content="{{ meta.date_parsed.0 }}">{{ date|date:"F j, o" }}</span>.
        </p>
        
        <dl>
            {% if meta.translation %}
                <dt>Translation</dt>
                <dd>{{ meta.translation.0 }}</dd>
            {% endif %}

            {% if meta.licence %}
                <dt>License</dt>
                {% if meta.licence.0 == "CC BY-ND 3.0 France" %}<dd><a href="http://creativecommons.org/licenses/by-nd/3.0/fr/" rel="license">{{ meta.licence.0 }}</a></dd>{% else %}<dd><span property="license">{{ meta.licence.0 }}</span></dd>
                {% endif %}
            {% endif %}

            {% if meta.pdf %}
                <dt>PDF</dt>
                <dd><a href="{{ meta.pdf.0 }}">Download</a></dd>
            {% endif %}
        </dl>

        {% if meta.colophon %}
            {{ meta.colophon.0|markdown_filter }}
        {% endif %}



{% endblock %}


{% block extraui %}
    {% if not user.is_authenticated %}
        <div class="popup-wrapper hidden">
            <div class="popup">
              <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                <label for="id_username">Username</label>
                <input id="id_username" maxlength="254" name="username" type="text" />
                <label for="id_password">Password</label>
                <input id="id_password" name="password" type="password" />
            
                <input class="submit" type="submit" value="Login" />
                <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'home' %}{% endif %}" />
              </form>
            </div>
        </div>

    {% else %}

        <div id="print-interface">
            <button id="debug" class="button">Debug</button>
            <button id="hi-res" class="button">Hi-res</button>
            <div id="toc">
                <button id="goto" class="button">Go to</button>
                <ul id="toc-pages"> </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}



{% block scripts %}
    {% if user.is_authenticated and meta.publish %}
        <script src="{{ STATIC_URL }}js/print.js" type="text/javascript" charset="utf-8"> </script>
        <script src="{{ STATIC_URL }}js/css-regions-polyfill-master/cssregions.min.js" type="text/javascript" charset="utf-8"> </script>
    {% endif %}
{% endblock %}
