{% extends "base.html" %}

{% block title %}

<h1 class="inline">{{ pad.display_slug }}</h1>

<div id="switch">
    {% if mode == 'read' %}
        <a class="active button">Read</a><a class="button" href="{% url 'pad-write' pad.display_slug %}">Write</a>
    {% else %}
        <a class="button" href="{% url 'pad-read' pad.display_slug %}">Read</a><a class="active button">Write</a>
    {% endif %}
	<a class="button" href="#" onclick="window.print()">Print</a>
</div>

{% endblock %}

{% block extra_styles %}{% if "notes" in namespaces %} 
	<link rel="stylesheet" href="{{ STATIC_URL }}less/print_notes.css" type="text/css" charset="utf-8">
{% endif %}{% endblock %}

{% block contentclasses %}{% for namespace in namespaces %}{{ namespace }} {% endfor %}{% endblock %}


