{% extends "pad-base.html" %}
{% load relearn_tags %}

{% block title %}
    <header>
    {% if meta.authors %}
        <p class="authors">{{ meta.authors|natural_join:'et' }}</p>
    {% endif %}
    <h1>
        {% ifequal pad.display_name|slugify "00md" %}
            <a href="{% url 'home' %}"><img src="{{ MEDIA_URL }}images/eyes/{{ left_eye }}" alt="{{ site_name }}" /></a>
        {% endifequal %}

        {{ meta.title.0|default:pad.display_slug }}

        {% ifequal pad.display_name|slugify "00md" %}
            <a href="{% url 'home' %}"><img src="{{ MEDIA_URL }}images/eyes/{{ right_eye }}" alt="{{ site_name }}" /></a>
        {% endifequal %}
    </h1>
    </header>
{% endblock %}

{% block content %}
  {% if error %}
  <div id="main">
    <div id="errors">
      <h2>Errors:</h2>
      <p>{{error}}</p>
    </div>
  </div>
  {% else %}
  <iframe id="ether" src="{{link}}?userName={{uname}}" style="height: 95%; width: 100%; min-height: 500px; display: block"></iframe>

  <script type="text/javascript">
  /**
   * This little script is necessary for some browsers that don't respect the
   * height css attribute on iframes.
   */
  function resizeEtherpad() {
    height = jQuery(window).height()*94/100;
    jQuery('#wrapper iframe').height(height);
  }

  jQuery(document).ready( function() {
    resizeEtherpad()
    jQuery(window).resize(resizeEtherpad);
  });
  </script>
  {% endif %}

{% endblock %}
