{% load wikify relearn_tags %}
<div id="metadata">
    <dl>
        {% if meta.theme %}
            <dt>Theme</dt>
            {% for theme in meta.theme %}
            <dd>{{ theme }}</dd>
            {% endfor %}
        {% endif %}

        {% if meta.place %}
            <dt>Location</dt>
            {% for place in meta.place %}
            <dd>{{ place }}</dd>
            {% endfor %}
        {% endif %}

        {% if meta.participants %}
            <dt>Participants</dt>
            {% for participant in meta.participants %}
            <dd property="dc:contributor">{{ participant }}</dd>
            {% endfor %}
        {% endif %}


        {% if meta.tags %}
            <dt>Tags</dt>
            {% for tag in meta.tags %}
            <dd property="dc:subject">{{ tag }}</dd>
            {% endfor %}
        {% endif %}


        {% if meta.date_parsed %}
            <dt>Date</dt>
            <dd property="dc:created" content="{{ meta.date_parsed.0 }}">{{ date|date:"F j, o" }}</dd>
            {% for date in meta.date_parsed %}
            <dd>{{ date }}</dd>
            {% endfor %}
        {% endif %}


        {% if meta.intervention %}
            <dt>Type of intervention</dt>
            {% for intervention in meta.intervention %}
            <dd>{{ intervention }}</dd>
            {% endfor %}
        {% endif %}


        {% if meta.licence %}
            <dt>License</dt>
            {% if meta.licence.0 == "CC BY-ND 3.0 France" %}<dd><a href="http://creativecommons.org/licenses/by-nd/3.0/fr/" rel="license">{{ meta.licence.0 }}</a></dd>{% else %}<dd><span property="license">{{ meta.licence.0 }}</span></dd>
            {% endif %}
        {% endif %}

        {% if meta.pdf %}
            <dt>PDF</dt>
            <dd><a href="{{ meta.pdf.0 }}">Download</a></dd>
        {% endif %}


    </dl>


        {% if meta.colophon %}
            {{ meta.colophon.0|markdown_filter }}
        {% endif %}
</div>
