{% load wikify relearn_tags %}
<div id="metadata">
    <dl>
        {% if meta.theme %}
            <dt>Theme</dt>
            <dd>{{ meta.theme|natural_join:',' }}</dd>
        {% endif %}

        {% if meta.place %}
            <dt>Location</dt>
            <dd>{{ meta.place|natural_join:',' }}</dd>
        {% endif %}

        {% if meta.participants %}
            <dt>Participants</dt>
            <dd>{{ meta.participants|natural_join:'and' }}</dd>
        {% endif %}


        {% if meta.tags %}
            <dt>Tags</dt>
            <dd>{{ meta.tags|natural_join:',' }}</dd>
        {% endif %}


        {% if meta.date_parsed %}
            <dt>Date</dt>
            <dd>
            {{ meta.date_parsed|natural_join:',' }}</dd>
            <span property="dc:created" content="{{ meta.date_parsed.0 }}">{{ date|date:"F j, o" }}</span>
            </dd>
        {% endif %}


        {% if meta.intervention %}
            <dt>Type of intervention</dt>
            <dd>{{ meta.intervention|natural_join:',' }}</dd>
        {% endif %}


        {% if meta.licence %}
            <dt>License</dt>
            {% if meta.licence.0 == "CC BY-ND 3.0 France" %}<dd><a href="http://creativecommons.org/licenses/by-nd/3.0/fr/" rel="license">{{ meta.licence.0 }}</a></dd>{% else %}<dd><span property="license">{{ meta.licence.0 }}</span></dd>
            {% endif %}
        {% endif %}

        {% if meta.pdf %}
            <dt>PDF</dt>
            <dd><a href="{{ meta.pdf.0 }}">Download</a></dd>
        {% endif %}


    </dl>


        {% if meta.colophon %}
            {{ meta.colophon.0|markdown_filter }}
        {% endif %}
</div>
